// 颜色定义规范
$color-background = rgb(212, 61, 61)
$color-title = rgb(255, 255, 255)
$color-text = rgb(34, 34, 34)
$color-desc = rgb(153, 153, 153)
$color-active = rgb(248, 89, 89)
$color-dot = rgba(255, 255, 255, 0.5)
$color-dot-a = rgba(255, 255, 255, 0.8)
//字体定义规范
$font-size-title-l = 20px
$font-size-title = 16px
$font-size-text = 12px